@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.animation-up {
  transform: translateY(-300%);
  animation: up 1s ease-out forwards;
}
@keyframes up {
  0% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(0);
  }
}

.animation-left {
  transform: translateX(-150%);
  animation: left 1s ease-out forwards;
}
@keyframes left {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translatey(0%);
  }
}

.animation-right {
  transform: translateX(150%);
  animation: right 1s ease-out forwards;
}
@keyframes right {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translatey(0%);
  }
}

.animation-down {
  transform: translateY(300%);
  animation: down 1s ease-out forwards;
}
@keyframes down {
  0% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(0);
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #48555B;
}

hr {
  background-color: #ada9a9;
  height: 1px;
}

.container {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}

header {
  overflow: hidden;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url(../img/1header-bg.webp) center/cover no-repeat;
  width: 100%;
  height: 100vh;
  padding: 41px 0 56px;
}
.title__logo {
  max-width: 102px;
  margin: 0 auto;
  animation-duration: 2s;
  animation-delay: 1.5s;
}
.title__title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: #FFFFFF;
  text-align: center;
  letter-spacing: 5.2px;
  word-spacing: 4.2px;
  text-transform: uppercase;
  margin: 86px 0px 4px 12px;
  animation-duration: 2s;
}
.title__text {
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 0.3px;
  text-align: center;
  animation-duration: 2s;
  animation-delay: 1s;
}
.title__scroll {
  position: relative;
  height: 30px;
  text-align: center;
  transition: 0.8s;
  animation-duration: 2s;
  animation-delay: 2s;
}
.title__scroll-up {
  font-size: 11px;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 3.4px;
  word-spacing: 2px;
  text-transform: uppercase;
  opacity: 1;
  transition: opacity 0.3s;
}
.title__scroll-down {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  color: #FFFFFF;
  opacity: 0;
  transition: all 0.7s;
}
.title__scroll:hover .title__scroll-up {
  opacity: 0;
}
.title__scroll:hover .title__scroll-down {
  opacity: 1;
  top: 0;
  animation-name: run-scroll;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes run-scroll {
  0% {
    top: 0;
  }
  100% {
    top: 15px;
  }
}

.menu__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 24px 0 23px;
}
.menu__logo {
  max-width: 80px;
}
.menu__list {
  display: flex;
  gap: 42px;
  align-items: center;
  text-transform: uppercase;
}
.menu__list-item {
  display: block;
  width: 100%;
  height: 19px;
  text-align: center;
  position: relative;
}
.menu__list-item a {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.09px;
  transition: all 0.5s;
  color: #48555B;
}
.menu__list-item a:hover {
  color: #00A4E5;
}
.menu__list-item a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: #00A4E5;
  transition: width 1s;
}
.menu__list-item a:hover::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #00A4E5;
}
.menu__burger {
  width: 30px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 5px;
  margin-right: 10px;
}
.menu__burger-line {
  width: 100%;
  height: 3px;
  background-color: #48555B;
  transition: all 0.3s;
}
.menu__burger:hover .menu__burger-line {
  background-color: #00A4E5;
}

.story {
  padding: 58px 0 59px;
}
.story__title {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.31px;
  position: relative;
  text-align: center;
  margin-bottom: 73px;
}
.story__title::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: #00A4E5;
}
.story__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.story__block {
  max-width: 395px;
}
.story__block-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.24;
  margin-bottom: 35px;
}
.story__block-title span {
  color: #16ACE8;
}
.story__block-text {
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.19px;
}
.story__flex {
  display: flex;
  align-items: flex-end;
  gap: 18px;
  padding-left: 10px;
}
.story__flex-item1, .story__flex-item2, .story__flex-item3 {
  width: 33.333%;
  min-width: 140px;
  height: 224px;
}
.story__flex-item1 {
  background-image: url(../img/2Store-1.webp);
  background-position: 95% 10%;
  background-repeat: no-repeat;
}
.story__flex-item2 {
  background-image: url(../img/2Store-2.webp);
  background-position: 35% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.story__flex-item3 {
  background-image: url(../img/2Store-3.webp);
  background-position: 62% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.story__flex-title {
  font-size: 24px;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0.19px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 17px 16px;
}

.service {
  padding: 61px 0 115px;
}
.service__up-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.service__up-content {
  display: flex;
  align-items: center;
  gap: 31px;
}
.service__up-title {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2.31px;
  text-transform: uppercase;
  height: 38px;
  max-width: 200px;
  padding-top: 2px;
}
.service__up-title::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: #00A4E5;
}
.service__up-text {
  font-size: 11px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.2px;
  max-width: 407px;
  padding-right: 12px;
}
.service__up-button {
  padding: 19px 31px;
}
.service__down-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}
.service__down-item {
  border: 2px solid #c2bcbc;
  padding: 35px 20px;
}
.service__down-icon {
  max-width: 66px;
  margin-bottom: 25px;
}
.service__down-icon img {
  width: 100%;
}
.service__down-h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.43px;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.service__down-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.19px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 150px;
  max-height: 40px;
  font-size: 13px;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  word-spacing: 2px;
  background-color: #00A4E5;
  cursor: pointer;
  transition: background-color 0.5s;
}

.button:hover {
  background-color: #48555B;
}

.touch {
  background-image: url(../img/4touch-bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.touch__block {
  max-width: 350px;
  padding: 120px 0 232px;
  margin: 0 auto;
}
.touch__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.15px;
  text-align: center;
  color: #48555B;
  margin-bottom: 35px;
}
.touch__button {
  padding: 21px 25px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .title, .menu, .story, .service, .touch {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (max-width: 992px) {
  .story {
    padding-bottom: 40px;
  }
  .story__grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .story__block {
    max-width: 70%;
    margin: 0 auto;
  }
  .story__block-text {
    margin-bottom: 40px;
  }
  .service {
    padding-top: 40px;
    padding-bottom: 50px;
  }
  .service__up-flex {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
  }
  .service__up-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 31px;
  }
  .touch__block {
    padding-top: 60px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 768px) {
  .title {
    padding-bottom: 30px;
  }
  .title__title {
    font-size: 50px;
  }
  .title__text {
    font-size: 12px;
  }
  .menu__list {
    display: none;
  }
  .menu__burger {
    display: flex;
  }
  .story {
    padding-top: 29px;
    padding-bottom: 30px;
  }
  .service {
    padding-top: 30px;
    padding-bottom: 25px;
  }
  .service__down-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 28px;
  }
  .touch__block {
    padding-top: 25px;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 576px) {
  .title {
    padding-top: 20px;
  }
  .title__title {
    font-size: 40px;
  }
  .title__text {
    font-size: 12px;
  }
  .story__flex {
    flex-wrap: wrap;
    justify-content: center;
  }
  .story__flex-item1, .story__flex-item2, .story__flex-item3 {
    width: 100%;
  }
  .story__flex-item1 {
    background-size: cover;
  }
}/*# sourceMappingURL=style.css.map */