// ANIMATION

// UP
.animation-up {
      position: relative;
      top: -100%;
      animation: up 1s ease-out forwards;
      @keyframes up {
            0% {
                  top: -100%;
            }

            100%{
                  top: 0;;
            }
      }
}

// LEFT
.animation-left {
      position: relative;
      left: -100%;
      animation: left 1s ease-out forwards;
      @keyframes left {
            0% {
                  left: -100%;
            }
            100% {
                  left: 0;
            }
      }
}

// RIGHT
.animation-right {
      position: relative;
      right: -100%;
      animation: right 1s ease-out forwards;
      @keyframes right {
            0% {
                  right: -100%;
            }
            100% {
                  right: 0;
            }
      }
}

// DOWN
.animation-down {
      position: relative;
      bottom: -100%;
      animation: down 1s ease-out forwards;
      @keyframes down{
            0%{
                  bottom: -100%;
            }

            100%{
                  bottom: 0;
            }
      }
}