// 1200
@media screen and (max-width:1200px) {
    .title,.menu,.story,.service,.touch,.signup,.footer__up,.footer__down {
        padding-right:15px;
        padding-left:15px;
    }
}

// 992
@media screen and (max-width:992px) {
    .story {
        padding-bottom: 40px;

        &__grid {
            grid-template-columns: repeat(1, 1fr);
        }


        &__block {
            max-width: 70%;

            margin: 0 auto;
        }

        &__block-text {
            margin-bottom: 40px;
      }
    }

    .service {
        padding-top: 40px;
        padding-bottom: 50px;

        &__up-flex {
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;

            margin-bottom: 50px;
      }
      
        &__up-content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 31px;
      }
    }

    .touch {
        &__block{
            padding-top: 60px;
            padding-bottom: 100px;
        }
    }

    .footer{
        &__up-flex {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
        } 

        &__company {
            text-align: center;

            margin-right: 0;
        }
    }
}


// 768
@media screen and (max-width:768px) {
    .title {
        padding-bottom: 30px;

        &__title {
            font-size: 50px;
        }

        &__text {
            font-size: 12px;
        }
    }

    .menu {
        &__list {
            display: none;
        }

        &__burger {
            display: flex;
        }
    }

    .story {
        padding-top:29px;
        padding-bottom: 30px;
    }

    .service {
        padding-top: 30px;
        padding-bottom: 25px;

        &__down-grid {
            grid-template-columns: repeat(1, 1fr);
            gap: 28px;
      }
    }

    .touch {
        &__block{
            padding-top: 25px;
            padding-bottom: 100px;
        }
    }

    .signup{
        &__flex {
            flex-direction: column;
            align-items: center;
            gap: 30px;
      }
    }

    .footer{
        &__column {
            display: flex;
            flex-direction: column;
            gap: 30px;
      }

      &__links {
        text-align: center;

        margin-right: 0;
      }

      &__contact {
        text-align: center;

        margin: 0 auto;
      }

      &__social {
        padding-top: 0;
        padding-left: 0;

        margin: 0 auto;
      }
    }
}

// 576
@media screen and (max-width:576px) {
    .title {
        padding-top: 20px;

        &__title {
            font-size: 40px;
        }

        &__text {
            font-size: 12px;
        }
    }

    .story {
        &__flex{
            flex-wrap: wrap; 
            justify-content: center;
        }

        &__flex-item1,&__flex-item2,&__flex-item3 {
            width: 100%;
        }

        &__flex-item1 {
            background-size: cover;
        }
    }

    .signup{
        &__form {
            flex-direction: column;
            align-items: center;
            gap: 15px;
      }
    }
}