// 1200
@media screen and (max-width:1200px) {
    .title,.menu,.story,.service {
        padding-right:15px;
        padding-left:15px;
    }
}

// 992
@media screen and (max-width:992px) {
    .story {

        &__grid {
            grid-template-columns: repeat(1, 1fr);
        }


        &__block {
            max-width: 70%;

            margin: 0 auto;
        }

        &__block-text {
            margin-bottom: 40px;
      }
    }

    .service {
        &__up-flex {
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;

            margin-bottom: 50px;
      }
      
        &__up-content {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 31px;
      }
    }
}


// 768
@media screen and (max-width:768px) {
    .title {
        padding-bottom: 30px;

        &__title {
            font-size: 50px;
        }

        &__text {
            font-size: 12px;
        }
    }

    .menu {
        &__list {
            display: none;
        }

        &__burger {
            display: flex;
        }
    }

    .service {

        &__down-grid {
            grid-template-columns: repeat(1, 1fr);
            gap: 28px;
      }
    }
}

// 576
@media screen and (max-width:576px) {
    .title {
        padding-top: 20px;

        &__title {
            font-size: 40px;
        }

        &__text {
            font-size: 12px;
        }
    }

    .story {
        &__flex{
            flex-wrap: wrap; 
            justify-content: center;
        }

        &__flex-item1,&__flex-item2,&__flex-item3 {
            width: 100%;
        }

        &__flex-item1 {
            background-size: cover;
        }
    }
}