// Reset
@import "_nullstyle";

// Анимация
@import "_animation";

// Fonts
// font-family: 'Bebas Neue', sans-serif;
// font-family: 'Open Sans', sans-serif;

// Color
$color-wh: #FFFFFF;
$color-gr: #48555B;
$color-night: #404649;
$color-blu1: #00A4E5;
$color-blu2: #16ACE8;

.color-fff{
      color: #fff;
}

html {
      scroll-behavior: smooth;
}

body {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      color: $color-gr;
}

body._lock {
      overflow: hidden;
}


.container {
    max-width: 940px;
    width: 100%;
    
    margin: 0 auto;
}



// HEADER
header {
      overflow: hidden;
}

// title
.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url(../img/1header-bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;

    padding: 41px 0 56px;


      &__logo {
            max-width: 102px;

            margin: 0 auto;

            animation-duration: 2s;
            animation-delay: 1.5s;
      }

      &__title {
            font-family: 'Bebas Neue', sans-serif;
            font-weight: 400;
            font-size: 60px;
            color: $color-wh;
            text-align: center;
            letter-spacing: 5.2px;
            word-spacing: 4.2px;
            text-transform: uppercase;

            margin: 86px 0px 4px 12px;

            animation-duration: 2s;
      }

      &__text {
            font-size: 16px;
            font-weight: 400;
            color: $color-wh;
            letter-spacing: 0.3px;
            text-align: center;

            animation-duration: 2s;
            animation-delay: 1s;
      }

      &__scroll{
            position: relative;
            height: 30px;
            text-align: center;
            transition: 0.8s;

            animation-duration: 2s;
            animation-delay: 2s;
      }

      &__scroll-up{
            font-size: 11px;
            font-weight: 400;
            color: $color-wh;
            letter-spacing: 3.4px;
            word-spacing: 2px;
            text-transform: uppercase;

            opacity: 1;
            transition: opacity 0.3s;
      }

      &__scroll-down{
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);

            font-size: 30px;
            color: $color-wh;


            opacity: 0;
            transition: all 0.7s;
      }

      &__scroll:hover &__scroll-up{
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
      }
      
      &__scroll:hover &__scroll-down{
            opacity: 1;

            top: 0;
            animation-name: run-scroll;
            animation-duration: 0.5s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            @keyframes run-scroll {
                  0% {
                        top: 0;
                  }
                  100%{
                        top: 15px;
                  }
            }
      } 
}

.external__menu {
      height: 100%;
      width: 100%;
}

//menu
.menu._sticky{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;

      z-index: 12;
}


// Переключатель
.switch-btn {
      width: 72px;
      height: 38px;
      border-radius: 19px;
      background-color:  #000;
      z-index: 10;
      margin: 0;
      padding: 0;
      cursor: pointer;
      position: relative;
      transition-duration: 300ms;
}

.switch-btn::after {
      content: "";
      height: 32px;
      width: 32px;
      position: absolute;
      top: 3px;
      left: 3px;
      border-radius: 17px;
      background-color: #fff;
      transition-duration: 300ms;
}


.switch-btn.dark {
      background-color:  #bfbfbf;
}

.switch-btn.dark::after {
      left: 37px;
}



.menu {
      background-color: $color-wh;
      border-bottom: #ada9a9 solid 2px;
      padding-bottom: 20px;
      

      &__nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            position: relative;

            padding-top: 24px;
      }

      &__up {
            display: flex;
            justify-content: space-between;
            width: 33%;
      }

      &__logo {
            position: relative;
            max-width: 80px;
            z-index: 11;
      }

      &__burger {
            width: 30px;
            height: 20px;

            display: none;
            flex-direction: column;
            justify-content: space-between;
            cursor: pointer;

            z-index: 11;
      }

      &__burger::before,
      &__burger::after,
      &__burger-line {
            content: "";
            position: relative;
            width: 100%;
            height: 3px;
            background-color: $color-gr;
      }

      

      &__list {
            display: flex;
            gap: 42px;
            align-items: center;
            text-transform: uppercase;
      }


      &__list-item {
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1.09px;
            transition: all 0.5s;

            display: block;
            width: 100%;
            height: 19px;
            text-align: center;

            position: relative;
            
            color: $color-gr;
      }


      &__list-item:hover{
            color: $color-blu1;
            
      }

      &__list-item::after {
            content: "";
            position: absolute;
            bottom: -3px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 2px;
            background-color: $color-blu1;

            transition: width 1s;
      }

      &__list-item:hover::after {
            content: "";
            position: absolute;
            
            right: 0;
            width: 100%;
            height: 2px;
            background-color: $color-blu1;
            
      }

}

// STORE
.story {
      padding: 58px 0 59px;

      &__title {
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2.31px;

            position: relative;
            text-align: center;

            margin-bottom: 73px;
      }

      &__title::before {
            content: "";
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);

            width: 50px;
            height: 2px;
            background-color: $color-blu1;
            
      }

      &__grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
      }

      &__block {
            max-width: 395px;
      }

      &__block-title {
            font-size: 20px;
            font-weight: 700;
            line-height: 1.24;

            margin-bottom: 35px;
      }

      &__block-title span{
            color: $color-blu2;
      }

      &__block-text {
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0.19px;
      }

      &__flex {
            display: flex;
            align-items: flex-end;
            gap: 18px;
            padding-left: 10px;
      }

      &__flex-item1,&__flex-item2,&__flex-item3 {
            width: 33.333%;
            min-width: 140px;
            height: 224px;
      }

      &__flex-item1 {
            background-image: url(../img/2Store-1.webp);
            background-position: 95% 10%;
            background-repeat: no-repeat;
      }

      &__flex-item2 {
            background-image: url(../img/2Store-2.webp);
            background-position: 35% 50%;
            background-repeat: no-repeat;
            background-size: cover;
      }

      &__flex-item3 {
            background-image: url(../img/2Store-3.webp);
            background-position: 62% 50%;
            background-repeat: no-repeat;
            background-size: cover;
      }

      &__flex-title {
            font-size: 24px;
            font-weight: 800;
            line-height: 29px;
            letter-spacing: 0.19px;
            text-transform: uppercase;
            color: $color-wh;

            padding: 17px 16px;
      }
}

// CAPABILITIES
.service {
      padding: 61px 0 115px;
      // UP
      &__up-flex {
            display: flex;
            justify-content: space-between;

            margin-bottom: 80px;
      }

      &__up-content {
            display: flex;
            align-items: center;
            gap: 31px;
      }

      &__up-title {
            position: relative;
            font-size: 18px;
            font-weight: 700;
            letter-spacing: 2.31px;
            text-transform: uppercase;

            height: 38px;
            max-width: 200px;

            padding-top: 2px;
      }

      &__up-title::before {
            content: "";
            display: block;

            position: absolute;
            bottom: 1px;
            left: 0;

            width: 50px;
            height: 2px;
            background-color: $color-blu1;

      }

      &__up-text {
            font-size: 11px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0.2px;

            max-width: 407px;

            padding-right: 12px;
      }

      &__up-button {

            padding: 19px 31px;
      }



      // DOWN
      &__down-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 28px;
      }

      &__down-item {
            border: 2px solid #c2bcbc;
            padding: 35px 20px;
      }

      &__down-icon {
            max-width: 66px;

            margin-bottom: 25px;
      }

      &__down-icon img{
            width: 100%;
            
      }

      &__down-h3 {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: 0.43px;
            text-transform: uppercase;

            margin-bottom: 13px;
      }

      &__down-text {
            font-size: 13px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0.19px;
      }
}

// button
.button {
      display: flex;
      justify-content: center;
      align-items: center;

      max-width: 150px;
      max-height: 40px;

      font-size: 13px;
      font-weight: 700;
      color: $color-wh;
      text-transform: uppercase;
      word-spacing: 2px;

      background-color: $color-blu1;

      cursor: pointer;
      transition: background-color 0.5s;
}

.button:hover {
      background-color: $color-gr;
}

// TOUCH
.touch {
      background-image: url(../img/4touch-bg.webp);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      &__block {
            max-width: 350px;

            padding: 120px 0 232px;
            margin: 0 auto;
      }

      &__title {
            font-size: 30px;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: 0.15px;
            text-align: center;
            color: $color-gr;

            margin-bottom: 35px;
      }

      &__button {
            padding: 21px 25px;
            margin: 0 auto;
      }
}

// SIGNUP
.signup {
      background-color: #171819;

      padding: 27px 0;

      &__flex {
            display: flex;
            gap: 70px;

            justify-content: center;
      }

      &__title {
            display: flex;
            align-items: center;

            font-size: 22px;
            font-weight: 700;
            letter-spacing: 0.85px;
            text-align: center;

            color: #fff;
      }

      &__form {
            display: flex;
            
      }

      &__input {
            display: flex;
            align-items: center;

            width: 250px;
            height: 40px;

            letter-spacing: 0.4px;

            border: 1px solid #979797;

            padding: 0 15px;
      }

      &__button {
            padding: 11px 48px;
      }
}

// FOOTER
.footer {

      // UP
      &__up {
            background-color: #141A20;

            padding: 42px 0 40px;
      }

      &__up-flex {
            display: flex;
            
      }

      // COMPANY
      &__company {
            max-width: 250px;

            margin-right: 71px;
      }

      &__company-title {
            font-size: 11px;
            font-weight: 400;
            letter-spacing: 0.85px;
            text-transform: uppercase;

            margin-bottom: 24px;
            
      }

      &__company-logo {
            max-width: 102px;

            margin-bottom: 15px;
      }

      &__company-text {
            font-size: 11px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0.85px;
      }

      &__column {
            display: flex;
      }
      // LINK

      &__links {
            max-width: 262px;

            margin-right: 68px;
      }

      &__links-title {
            font-size: 11px;
            font-weight: 400;
            letter-spacing: 0.85px;
            text-transform: uppercase;

            margin-bottom: 16px;
      }

      &__links-list {
            display: flex;
      }

      &__links-item1 {
            padding-right: 17px;
      }

      &__links-item2 {
            padding-left: 17px;
            padding-right: 19px;
      }

      &__links-item3 {
            padding-left: 19px;
      }


      &__links-list li{
            font-size: 11px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0.85px;
            text-transform: uppercase;
      }

      &__links-list a{
            color: #fff;

            transition: color 0.4s;
      }
      
      &__links-list a:hover{
            color: $color-blu1;
      }
      
      // CONTACT
      &__contact {
            max-width: 141px;

            margin-right: 42px;
      }

      &__contact-title {
            font-size: 11px;
            font-weight: 400;
            letter-spacing: 0.85px;

            margin-bottom: 19px;
      }

      &__contact div{
            font-size: 11px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: 0.85px;

            margin-bottom: 15px;
      }

      &__contact a{
            color: #fff;

            transition: color 0.4s;
      }

      &__contact a:hover{
            color: $color-blu1;
      }

      // SOCIAL
      &__social {
            display: flex;

            padding-top: 30px;
            margin-left: 23px;
      }

      &__social a{
            color: #fff;
            transition: all 0.4s;
      }

      &__social a:hover{
            transform: scale(1.4);
            color: $color-blu1;
      }

      &__social-fb{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 20px;
            height: 20px;

            margin-right: 15px;
      }

      &__social-tw{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 20px;
            height: 20px;

            margin-right: 16px;
      }

      &__social-go{
            display: flex;
            justify-content: center;
            align-items: center;

            width: 20px;
            height: 20px;
      }

      // DOWN

      &__down {
            background-color: #171819;

            padding: 10px 0 23px;
      }

      &__down-text {
            font-size: 11px;
            font-weight: 400;
            letter-spacing: 0.85px;
            text-align: center;

            color: #FFFFFF;
      }
}



.darkstyle {
      background-color: $color-night;
      color: $color-wh;
}

.darkstyle a{
      color: $color-wh;
}

.touch.darkstyle{
      background-image:url(../img/4Touch-bg-night.webp); 
}

.touch.darkstyle .touch__title {
      color: $color-wh;
}

.menu__burger.darkstyle::before,
.menu__burger.darkstyle::after,
.menu__burger-line.darkstyle {
      content: "";
      background-color: $color-wh;
}




// Медиа
@import "_media";