// Reset
@import "_nullstyle";

// Fonts
// font-family: 'Bebas Neue', sans-serif;
// font-family: 'Open Sans', sans-serif;

// Color
$color-wh: #FFFFFF;
$color-gr: #48555B;
$color-blu1: #00A4E5;
$color-blu2: #16ACE8;

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}























// Медиа
@import "_media";